.chat {
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: -webkit-calc(100% - 75px);
    height:         calc(100% - 75px);

    word-break: break-word;

    background-color: #34495e;
}

.chatMessage,
.chatHostMessage {
    padding: 2px;

    border-bottom: solid 1px #95a5a6;
}

.chatMessageAuthor {
    font-weight: 700;

    color: #95a5a6;
}

.chatMessageContent {
    word-wrap: break-word;

    color: #ecf0f1;
}

.chatHostMessageAuthor {
    font-weight: 700;

    color: #3498db;
}

.chatHostMessageContent {
    font-style: italic;

    word-wrap: break-word;

    color: #ecf0f1;
}

.chatForm {
    height: 75px;
}

.chatInputMessage {
    width: 85%;
}

.chatSendButton {
    font-size: 1.1em;
    line-height: 20px;

    display: inline-block;

    width: 100px;
    height: 30px;

    -webkit-transition: ease all .3s;
            transition: ease all .3s;

    color: #ecf0f1;
    border: solid 3px #3498db;
    border-radius: 15px;
    background-color: #3498db;
}

.chatSendButton:hover {
    cursor: pointer;
    -webkit-transition: ease all .3s;
            transition: ease all .3s;

    background-color: #2980b9;
}

.chatSendButton:active {
    -webkit-transition: ease all .1s;
            transition: ease all .1s;

    background-color: #34495e;
}

.chatSendButton:focus {
    outline: 0;
}

.chatNoMessage {
    margin-top: 5px;
    margin-bottom: 5px;

    color: #3498db;
}
