.chatBox {
	position: absolute;
}

.chatBox h2 {
	color: #354b60;
}

.chat {
	overflow-y: scroll;
	height: 40vh;
	width: auto;
	margin: auto;
	background-color: #354b60;
}

.message {
	padding: 2px;
	border-bottom: solid 1px #95a5a6;
}

.messageAuthor {
	font-weight: 700;
	color: #354b60;
}

.messageContent {
	color: #ecf0f1;
}

.chatInputMessage {
	width: 200px;
}

.chatSendButton {
	height: 50px;
	font-size: 1.4em;
	line-height: 45px;
	width: 125px;
	background-color: #3498db;
	display: inline-block;
	color: #ecf0f1;
	border-radius: 15px;
	border: solid 3px #3498db;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

.chatSendButton:hover {
	background-color: #2980b9;
	cursor: pointer;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

.chatSendButton:active {
	background-color: #34495e;
	-webkit-transition: ease all 0.1s;
	transition: ease all 0.1s;
}

.chatSendButton:focus {
	outline: 0;
}