.chat {
	overflow-y: scroll;
	height: calc(100% - 75px);
	width: 100%;
	background-color: #354b60;
}

.chatMessage, .chatHostMessage {
	padding: 2px;
	border-bottom: solid 1px #95a5a6;
}

.chatMessageAuthor {
	font-weight: 700;
	color: #95a5a6;
}

.chatMessageContent {
	color: #ecf0f1;
}

.chatHostMessageAuthor {
	font-weight: 700;
	color: #3498db;
}

.chatHostMessageContent {
	color: #ecf0f1;
	font-style: italic;
}

.chatForm {
	height: 75px;
}

.chatInputMessage {
	width: 85%;
}

.chatSendButton {
	height: 30px;
	font-size: 1.1em;
	line-height: 20px;
	width: 100px;
	background-color: #3498db;
	display: inline-block;
	color: #ecf0f1;
	border-radius: 15px;
	border: solid 3px #3498db;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

.chatSendButton:hover {
	background-color: #2980b9;
	cursor: pointer;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

.chatSendButton:active {
	background-color: #34495e;
	-webkit-transition: ease all 0.1s;
	transition: ease all 0.1s;
}

.chatSendButton:focus {
	outline: 0;
}