#joinLounge
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 90%;
    height: 50%;
    margin: auto;

    transition: ease all .5s;
}

.joinLoungeHided
{
    right: -3000px!important;

    visibility: hidden;

    transition: ease opacity .5s, ease left .5s, visibility 0s .5s;

    opacity: 0;

    filter: alpha(opacity=0);
}

#joinLoungeBack
{
    display: inline-block;

    margin-top: 15px;

    transition: ease all .3s;

    color: #34495e;
}

#joinLoungeBack:hover
{
    cursor: pointer;
    transition: ease all .3s;

    color: #7f8c8d;
}

.loungeListItem
{
    font-size: 1.250em;
    line-height: 25px;

    display: inline-block;

    height: 25px;
    margin: 5px;
    padding: 10px;

    transition: ease all .3s;

    border: solid 3px #3498db;
    border-radius: 15px;
    background-color: #3498db;
}

.loungeListItem:hover
{
    cursor: pointer;
    transition: ease all .3s;

    background-color: #2980b9;
}

.loungeListItem:active
{
    transition: ease all .1s;

    background-color: #34495e;
}

.loungeListName
{
    font-weight: 700;

    color: #2c3e50;
}

.loungeListDescription
{
    color: #ecf0f1;
}

#passwordPopup
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 350px;
    height: 150px;
    margin: auto;
    padding: 5px;

    transition: ease all .5s;

    color: #ecf0f1;
    border-radius: 10px;
    background-color: #34495e;
    box-shadow: #34495e 2px 2px 2px;
}

.passwordPopupHided
{
    top: -100px!important;

    visibility: hidden;

    transition: ease opacity .5s, ease left .5s, visibility 0s .5s;

    opacity: 0;

    filter: alpha(opacity=0);
}

#passwordPopupLoungeTitle
{
    text-decoration: underline;
}

#passwordPopupLoungeButton
{
    font-size: 1em;
    line-height: 20px;

    display: inline-block;

    width: 200px;
    height: 30px;
    margin-top: 4px;

    transition: ease all .3s;

    color: #ecf0f1;
    border: solid 3px #3498db;
    border-radius: 15px;
    background-color: #3498db;
}

#passwordPopupLoungeButton:hover
{
    cursor: pointer;
    transition: ease all .3s;

    background-color: #2980b9;
}

#passwordPopupLoungeButton:active
{
    transition: ease all .1s;

    background-color: #34495e;
}

#passwordPopupLoungeButton:focus
{
    outline: 0;
}

#passwordPopupLoungeBack
{
    font-size: .8em;

    margin-top: 9px;

    transition: ease all .3s;

    color: #bdc3c7;
}

#passwordPopupLoungeBack:hover
{
    cursor: pointer;
    transition: ease all .3s;

    color: #7f8c8d;
}
