#loungeCreation {
	position: absolute;
  	right: 0%;
  	left: 0%;
  	transform: translateY(-50%);
	top: 50%;
	margin: auto;
	width: 100%;
    display: table;
    -webkit-transition: ease all 0.5s;
	transition: ease all 0.5s;
}

.loungeCreationHided {
	right: -3000px!important;
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: hidden;
	-webkit-transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
	transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
}

.loungeCreationHidedBottom {
	bottom: -3000px!important;
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: hidden;
	-webkit-transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
	transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
}

/***************************
********* CONTENT **********
***************************/

#loungeCreation h1 {
	margin-top: 0px;
	margin-bottom: 5px;
}

.loungeCreationField {
	color: #2c3e50;
	margin: 3px;
	font-size: 1.1em;
}

#loungeCreationDescription {
	width: 90%;
	max-width: 400px;
}

#loungeCreationButton {
	height: 10vh;
	font-size: 1.7em;
	line-height: 9vh;
	width: 250px;
	background-color: #3498db;
	display: inline-block;
	color: #ecf0f1;
	border-radius: 15px;
	border: solid 3px #3498db;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

#loungeCreationButton:hover {
	background-color: #2980b9;
	cursor: pointer;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

#loungeCreationButton:active {
	background-color: #34495e;
	-webkit-transition: ease all 0.1s;
	transition: ease all 0.1s;
}

#loungeCreationButton:focus {
	outline: 0;
}

/************************
********* BACK **********
************************/

#loungeCreationBack {
	display: inline-block;
	margin-top: 5px;
	color: #34495e;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

#loungeCreationBack:hover {
	color: #7f8c8d;
	cursor: pointer;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}