#loungeVoting {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: ease all .5s;
}

.loungeVotingHided {
    top: -3000px!important;
    visibility: hidden;
    transition: ease opacity .5s, ease left .5s, visibility 0s .5s;
    opacity: 0;
    filter: alpha(opacity=0);
}

#loungeVotingMainBox {
    width: 100%;
    height: 70vh;
    margin-top: 50vh;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#loungeVotingConnectedAs {
    font-size: .8em;
    color: #2c3e50;
}

#loungeVotingLeftBox {
    display: inline-block;
    width: 65%;
    height: inherit;
    vertical-align: top;
    background-color: #273c50;
}


/****************  
*** RIGHT BOX ***
****************/

#loungeVotingRightBox {
    display: inline-block;
    width: 20%;
    height: inherit;
    background-color: #273c50;
}

#loungeVotingRightButtons {
    height: 30px;
}

#loungeVotingRightChatButton {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}

#loungeVotingRightChatImage {
    height: 100%;
    transition: ease all .3s;
    background-image: url('../img/chatIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#loungeVotingRightChatImage:hover {
    transition: ease all .3s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.loungeVotingRightChatImageActive {
    transition: ease all .3s!important;
    -webkit-filter: grayscale(0%)!important;
    filter: grayscale(0%)!important;
}

#loungeVotingRightUserButton {
    display: inline-block;
    float: right;
    width: 50%;
    height: 100%;
}

#loungeVotingRightUserImage {
    height: 100%;
    transition: ease all .3s;
    background-image: url('../img/userListIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#loungeVotingRightUserImage:hover {
    transition: ease all .3s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.loungeVotingRightUserImageActive {
    transition: ease all .3s!important;
    -webkit-filter: grayscale(0%)!important;
    filter: grayscale(0%)!important;
}

#loungeVotingChatUserBox {
    overflow: hidden;
    height: calc(100% - 30px);
}

#loungeVotingChatBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: ease all .5s;
}

.loungeVotingChatBoxHided {
    transition: ease all .5s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

#loungeVotingUserListBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: ease all .5s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.loungeVotingUserListBoxHided {
    transition: ease all .5s;
    -webkit-transform: translateY(-100%) translateX(100%)!important;
    transform: translateY(-100%) translateX(100%)!important;
}

#loungeVotingBack {
    font-size: .8em;
    margin-top: 9px;
    transition: ease all .3s;
    color: #34495e;
}

#loungeVotingBack:hover {
    cursor: pointer;
    transition: ease all .3s;
    color: #7f8c8d;
}

.videoThumbnail {
    float: left;
    width: auto;
    height: 13.25vh;
}

.loungeVotingVideoAndTitleBox {
    width: 100%;
    height: 13.25vh;
    display: inline-block;
    position: relative;
}

#searchResult {
    overflow: auto;
    width: 100%;
    height: calc(100% - 37px);
}

.VideoTitle {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30vh;
    text-align: left;
    color: #2980b9;
    position: absolute;
}

.loungeVotingNombreVue {
    margin-top: 5vh;
    padding-right: 20px;
    position: absolute;
}

.loungeVotingUpVote {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    position: absolute;
}

.loungeVotingDownVote {
    margin-top: 40px;
    margin-bottom: 40px;
    position: absolute;
}

.loungeVotingDuree {
    position: absolute;
}