#loungeHosting {
    position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
  	bottom: 0;
	margin: auto;
    -webkit-transition: ease all 0.5s;
	transition: ease all 0.5s;
}

.loungeHostingHided {
	top: -3000px!important;
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: hidden;
	-webkit-transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
	transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
}

.loungeHostingSpeakers {
	display:inline-block;
	width:200px;
	height:100px;
	background-color:red;
	top:0;
}
#loungeHostingTrapezeLeft {
  	display: inline-block;
	background-color:blue;
    height: 282px;
    width: 100px;
}
#loungeHostingScreen {
	display: inline-block;
	width:502px;
	height:282px;
	background-color: white;
}
#loungeHostingTrapezeRight {
	display: inline-block;
	background-color:blue;
    height: 282px;
    width: 100px;
}

#loungeHostingMainBox {
	display:inline-block;
	background-color:black; 
}
.loungeHostingSpeakerAndTrapeze {
	display: inline-block;
	height:300px;
	width:400px;
}