#loungeVoting {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    transition: ease all .5s;
}

.loungeVotingHided {
    top: -3000px!important;

    visibility: hidden;

    transition: ease opacity .5s, ease left .5s, visibility 0s .5s;

    opacity: 0;

    filter: alpha(opacity=0);
}

#loungeVotingMainBox {
    width: 100%;
    height: 70vh;
    margin-top: 50vh;

    transform: translateY(-50%);
}

#loungeVotingConnectedAs {
    font-size: .8em;

    color: #2c3e50;
}

#loungeVotingLeftBox {
    display: inline-block;

    width: 65%;
    height: inherit;

    vertical-align: top;

    background-color: #273c50;
}

#loungeVotingRightBox {
    display: inline-block;

    width: 20%;
    height: inherit;

    background-color: #273c50;
}

#loungeVotingChatBox {
    height: 100%;
}

#loungeVotingBack {
    font-size: .8em;

    margin-top: 9px;

    transition: ease all .3s;

    color: #34495e;
}

#loungeVotingBack:hover {
    cursor: pointer;
    transition: ease all .3s;

    color: #7f8c8d;
}

.videoThumbnail {
    height:13.25vh;
    width:auto;
    float:left;
}
.loungeVotingVideoAndTitleBox {
    height: 13.25vh;
    width:100%;  
}
#searchResult {
    height:66.25vh;
    width:100%;
    overflow: auto;
}
.VideoTitle {
    color: #2980b9;
    text-align: left;
    margin-bottom:0px;
    margin-top:0px;
    margin-left: 30vh;
}
.loungeVotingNombreVue {
    float:right;
    padding-right: 20px;
    margin-top:5vh;
}
.loungeVotingUpVote {
    float:left;
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;

}
.loungeVotingDownVote {
    float:left;
    margin-bottom: 40px;
    margin-top: 40px;
}
.loungeVotingDuree {

}