@viewport {
    width: device-width;
    zoom: 1;
}

body {
    background-color: #bdc3c7;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
    margin: 0px;
}

h1,
h2,
h3 {
    color: #2980b9;
    margin-top: 15px;
    margin-bottom: 15px;
}

input,
textarea {
    margin: 5px;
    padding: 5px;
    border: solid 1px #7f8c8d;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

input:focus,
textarea:focus {
    outline: 0;
    border: solid 1px #34495e;
    box-shadow: 0 0 5px 1px #2980b9;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

p {
    color: #13304D;
}

#logo {
    width: auto;
    height: 20vh;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

.logoReduced {
    height: 10vh!important;
    width: auto!important;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

#errorBox {
    position: absolute;
    background-color: #e74c3c;
    left: 0;
    right: 0;
    top: -1px;
    width: 90%;
    margin: auto;
    z-index: 99;
    color: #ecf0f1;
    border-radius: 0px 0px 10px 10px;
    border-left: solid 1px #c0392b;
    border-right: solid 1px #c0392b;
    border-bottom: solid 1px #c0392b;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

.errorMessage {
    margin: 5px;
    color: #ecf0f1;
    font-size: 1.250em;
}

/************************
********** FONT *********
************************/

/* latin-ext */

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url(../font/WorkSans-Regular-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url(../font/WorkSans-Regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Work Sans Bold'), local('WorkSans-Bold'), url(../font/WorkSans-Bold-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Work Sans Bold'), local('WorkSans-Bold'), url(../font/WorkSans-Bold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/************************
******* USER LIST *******
************************/

.userList {
    list-style-type: none;
    padding-left: 0px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.userListName {
    color: #95a5a6;
}

.userListHostName {
    color: #3498db;
    font-weight: 700;
}

.loungeVotingNoMusic {
	color: #3498db;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.loungeHostingNoMusic {
    color: #3498db;
    margin-top: 5px;
    margin-bottom: 5px;
}

/************************
******* SCROLLBAR *******
************************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #445D76;
}

::-webkit-scrollbar-thumb {
    background-color: #1E344B;
}

::-webkit-scrollbar-corner {
    background-color: #445D76;
}

/************************
******** LOADING ********
************************/

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
	left: 0;
    right: 0;
	position: absolute;
    margin: 5px auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
    animation: spinner 1s infinite linear;
}
