@-ms-viewport {
    zoom: 1;

    width: device-width;
}

@viewport {
    zoom: 1;

    width: device-width;
}

body {
    font-family: 'Work Sans', sans-serif;

    overflow: hidden;

    margin: 0;

    text-align: center;

    background-color: #bdc3c7;
}

h1,
h2,
h3 {
    margin-top: 15px;
    margin-bottom: 15px;

    color: #2980b9;
}

input,
textarea {
    margin: 5px;
    padding: 5px;

    -webkit-transition: ease all .3s;
            transition: ease all .3s;

    border: solid 1px #7f8c8d;
}

input:focus,
textarea:focus {
    -webkit-transition: ease all .3s;
            transition: ease all .3s;

    border: solid 1px #34495e;
    outline: 0;
    box-shadow: 0 0 5px 1px #2980b9;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

p {
    color: #13304d;
}

#license {
    font-size: .7em;

    position: absolute;
    right: .1vw;
    bottom: .1vh;

    -webkit-transition: ease all .3s;
            transition: ease all .3s;
    text-decoration: none;

    color: #34495e;
}

#license:hover {
    -webkit-transition: ease all .3s;
            transition: ease all .3s;

    color: #3498db;
}

#logo {
    width: auto;
    height: 20vh;

    -webkit-transition: ease all .5s;
            transition: ease all .5s;
}

.logoReduced {
    width: auto!important;
    height: 10vh!important;

    -webkit-transition: ease all .5s;
            transition: ease all .5s;
}

#errorBox {
    position: absolute;
    z-index: 99;
    top: -1px;
    right: 0;
    left: 0;

    width: 90%;
    margin: auto;

    -webkit-transition: ease all .5s;
            transition: ease all .5s;

    color: #ecf0f1;
    border-right: solid 1px #c0392b;
    border-bottom: solid 1px #c0392b;
    border-left: solid 1px #c0392b;
    border-radius: 0 0 10px 10px;
    background-color: #e74c3c;
}

.errorMessage {
    font-size: 1.250em;

    margin: 5px;

    color: #ecf0f1;
}

/************************
********** FONT *********
************************/

/* latin-ext */

@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: normal;

    src: local('Work Sans'), local('WorkSans-Regular'), url(../font/WorkSans-Regular-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: normal;

    src: local('Work Sans'), local('WorkSans-Regular'), url(../font/WorkSans-Regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: normal;

    src: local('Work Sans Bold'), local('WorkSans-Bold'), url(../font/WorkSans-Bold-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: normal;

    src: local('Work Sans Bold'), local('WorkSans-Bold'), url(../font/WorkSans-Bold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/************************
******* USER LIST *******
************************/

.userList {
    overflow-x: hidden;
    overflow-y: auto;

    margin: auto;
    padding-left: 0;

    list-style-type: none;
}

.userListName {
    color: #95a5a6;
}

.userListHostName {
    font-weight: 700;

    color: #3498db;
}

.loungeVotingNoMusic {
    position: absolute;
    right: 0;
    left: 0;

    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;

    color: #3498db;
}

.loungeHostingNoMusic {
    margin-top: 5px;
    margin-bottom: 5px;

    color: #3498db;
}

/************************
******* SCROLLBAR *******
************************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #445d76;
}

::-webkit-scrollbar-thumb {
    background-color: #1e344b;
}

::-webkit-scrollbar-corner {
    background-color: #445d76;
}

/************************
******** LOADING ********
************************/

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    right: 0;
    left: 0;

    width: 30px;
    height: 30px;
    margin: 5px auto;

    -webkit-animation: spinner 1s infinite linear;
            animation: spinner 1s infinite linear;

    border: .25rem solid rgba(255, 255, 255, .2);
    border-top-color: white;
    border-radius: 50%;
}
