body {
	background-color : #bdc3c7;
	text-align: center;
	font-family: 'Work Sans';
	overflow: hidden;
}

h1 {
	color: #2980b9;
}

input, textarea {
	margin: 5px;
  	padding: 5px;
  	border: solid 1px #7f8c8d;
  	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

input:focus, textarea:focus{
  	border: solid 1px #34495e;
  	box-shadow: 0 0 5px 1px #2980b9;
  	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

#logo {
	width: 50%;
	margin-top: 10px;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

.logoReduced {
	width: 400px!important;
	-webkit-transition: ease all 0.3s;
	transition: ease all 0.3s;
}

#errorBox {
	position: absolute;
	background-color: #e74c3c;
	left: 0;
	right: 0;
	top: 0;
	width: 40%;
	margin: auto;
	z-index: 99;
	border-radius: 0px 0px 10px 10px;
	border-left: solid 1px #c0392b;
	border-right: solid 1px #c0392b;
	border-bottom: solid 1px #c0392b;
	-webkit-transition: ease all 0.5s;
	transition: ease all 0.5s;
}

.errorBoxHided {
	top: -100px!important;
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: hidden;
	-webkit-transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
	transition: ease opacity 0.5s, ease left 0.5s, visibility 0s 0.5s;
}

.errorMessage {
	margin: 5px;
	color: #ecf0f1;
	font-size: 20px;
}
