@media (max-width: 680px) {
    #logo {
        width: auto!important;
        height: 10vh!important;
    }

    .homeButton {
        display: block!important;

        width: 95vw;
        margin: auto;
    }

    .homeButton span {
        width: auto!important;
    }
}

@media (min-width: 680px) {
    .loungeVotingVideoTitle {
        font-size: 1.6em!important;
    }

    .loungeVotingDuration {
        font-size: 1em!important;
    }

    .loungeVotingScore {
        font-size: .9em!important;
    }
}

@media (max-height: 500px) {
    #logo {
        width: auto!important;
        height: 10vh!important;
    }

    #home h1 {
        font-size: 1.5em!important;
    }
}
